#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
  background-color: transparent;
  transition: all 0.3s;
}

#header .sub_class{
  border-color: rgba(255,255,255,0.1);
}

#header .sub_class .header_menu > li > a{
  color: #ffffff;
}

#header .sub_class h1 a img{
  filter: brightness(100);
}

#header .sub_class .hamburger-menu ul li span{
  background-color: #ffffff;
}

#header .sub_class .choice_lang{
  color:#fff;
}

#header .sub_class .choice_lang img{
  filter: invert(1);
}

#header .sub_class .choice_lang ul li button{
  color:#111111;
}

#header .sub_class_white {
  background-color: #ffffff; /* 스크롤 후 스타일 */
  color: #111111;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#header .sub_class_white h1 a img{
  filter: brightness(0);
}

.header_bar {
  height: 100%;
  transform: translateY(0); /* 초기값 */
  transition: transform 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease !important;
}

.header_bar.show {
  position: relative;
  transform: translateY(0) !important; /* 나타나는 상태 */
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.2) !important;
  border:0;
}

.header_bar.show::after{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,1) !important;
  backdrop-filter: blur(10px);
  content: '';
  z-index: -1;
}

.header_bar.hidden {
  transform: translateY(-100%) !important; /* 숨기는 상태 */
  background-color: transparent !important;
  box-shadow: none !important;
}

.hamburger-menu {
  display: flex;
  justify-content: space-between;
  width: 46px;
  height: 30px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 0 0.5em;
}

.hamburger-menu ul{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3em 0;
}

.hamburger-menu ul li{
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.hamburger-menu:hover ul li{
  transition: all 0.3s ease;
}

.hamburger-menu:hover ul li:nth-child(2){
  width: 100%;
}
.hamburger-menu:hover ul li:nth-child(3){
  width: 100%;
}

.hamburger-menu ul, .hamburger-menu li{
  width: 100%;
  height: auto;
}

.hamburger-menu ul li:nth-child(1){
  width: 100%;
}

.hamburger-menu ul li:nth-child(2){
  width: 60%;
}

.hamburger-menu ul li:nth-child(3){
  width: 30%;
}

.hamburger-menu ul li span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #111;
  border-radius: 1px;
}

.hamburger-menu p{
  font-size:18px;
}

.header_menu li {
  position: relative;
  flex: 1 0 0;
}

.header_menu > li > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.445em 2%;
}

.header_menu li:hover .sub_menu::after {
  display: block;
}

.sub_menu {
  position: relative;
  display: flex; /* 내부 항목을 컨트롤하기 위해 flex 사용 */
  flex-direction: column; /* 세로 정렬 */
  transform: translateY(-50%); /* 초기 상태 */
  opacity: 0; /* 숨김 상태 */
  position: absolute;
  top: calc(100% + -0.6em); /* 살짝 띄움 */
  left: 0;
  min-width: 100%;
  width: max-content;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  z-index: 10; /* z-index 설정 */
  transition: transform 0.3s ease, opacity 0.3s ease; /* 부드러운 애니메이션 */
  border-radius: 3px;
}

.sub_menu::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #fff;
  transform: translateY(-50%); /* 초기 위치 */
  opacity: 0; /* 숨김 상태 */
  transition: transform 0.3s ease, opacity 0.3s ease; /* 애니메이션 */
  z-index: -1;
}

.choice_lang{
  position: relative;
  transition: all 0.3s;
}

.choice_lang ul{
  position: absolute;
  top:40px;
  left: calc(100% - 4em);
  width: max-content;
  height: auto;
  transform: translateY(-30%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.choice_lang ul li button{
  display: block;
  padding: 0.5em 1.5em;
  text-align: center;
  transition: all 0.3s;
}

.choice_lang ul li button:hover{
  text-decoration: underline;
}

.choice_lang ul.active{
  transform: translateY(0); /* 활성화 상태 */
  opacity: 1; /* 활성화 상태 */
  pointer-events: auto; /* 클릭 가능 */
}


.header_menu li:hover .sub_menu::after {
  transform: translateY(0); /* hover 시 나타남 */
  opacity: 1; /* 투명도 변경 */
}

.sub_menu li {
  transform: translateY(-20%); /* 초기 위치 */
  opacity: 0; /* 숨김 상태 */
  transition: transform 0.4s ease, opacity 0.4s ease; /* 부드러운 애니메이션 */
}

.sub_menu li a {
  display: block;
  color: #111;
  text-decoration: none; /* 기본 밑줄 제거 */
}

.sub_menu li a:hover {
  text-decoration: underline;
}

.header_menu li:hover .sub_menu {
  transform: translateY(0); /* hover 시 나타남 */
  opacity: 1;
}

.header_menu li:hover .sub_menu li {
  transform: translateY(0); /* hover 시 나타남 */
  opacity: 1; /* 투명도 변경 */
  transition-delay: 0.s; /* `.sub_menu::after` 이후에 나타남 */
}

.sub_menu li a:hover{
  text-decoration: underline;
}

#hamburger_open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  opacity: 0;
  transition: opacity 1s ease, z-index 0s linear 0s; /* z-index 딜레이 */
  z-index: -1;
  pointer-events: none;
}

#hamburger_open.open {
  opacity: 1;
  z-index: 9999;
  pointer-events: auto;
}

#hamburger_open.close {
  opacity: 0;
  pointer-events: none !important;
  z-index: -1; /* 메뉴가 닫힐 때 z-index 설정 */
}

#hamburger_open.animating {
  pointer-events: auto;
}

#hamburger_open .segment {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  transform: translateY(-100%); /* 초기값 */
  transition: transform 0.4s ease; /* 애니메이션 */
  z-index: -1;
}

#hamburger_open .segment:nth-child(1){
  left: 0;
}
#hamburger_open .segment:nth-child(2){
  left: 20%;
}
#hamburger_open .segment:nth-child(3){
  left: 40%;
}
#hamburger_open .segment:nth-child(4){
  left: 60%;
}
#hamburger_open .segment:nth-child(5){
  left: 80%;
}

#hamburger_open.open .segment {
  transform: translateY(0);
}

#hamburger_open.close .segment {
  transform: translateY(-100%);
}

#hamburger_open .segment:nth-child(2n) {
  transform: translateY(100%);
}

#hamburger_open.open .segment:nth-child(2n) {
  transform: translateY(0);
}

.menu_list{
  color:rgba(255,255,255,0.5);
}

.menu_list > ul{
  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
}

.menu_list > ul > li{
  border-bottom: 1px solid rgba(255,255,255,0.3);
  transition: all 0.3s;
}

.menu_list > ul > li:hover{
  border-color: rgb(255,255,255);
}

.menu_list > ul > li:hover a{
  color:#fff;
}

.open_sub_menu{
  gap:0 2em;
}

.open_sub_menu li{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 2em;
}

.open_sub_menu > li > a{
  position: relative;
  display: block;
  width: max-content;
  color:rgba(255,255,255,0.5);
  line-height: 1;
  transition: .3s;
}

.open_sub_menu > li > a::after{
  position: absolute;
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0.08rem;
    transform: translateX(-50%);
    background-color: #fff;
    content: '';
    transition: .3s;
}

.open_sub_menu > li > a:hover::after{
  width: 100%;
}

.open_sub_menu > li span{
  font-size:0.8rem;
}

.open_sub_menu > li:last-child span{
  display: none;
}


@media (max-width: 1300px) {
  .hamburger_title{
    font-size:7.3vw;
  }
}

@media (max-width: 1000px) {
  #nav{
    display: none;
  }
}

@media (max-width: 980px) {
  .menu_list > ul > li {
    padding: 4% 2%;
  }

  .menu_list > ul > li > a{
    font-size:1.5em
  }
  .open_sub_menu > li > a{
    font-size:16px;
  }
}

@media (max-width: 780px) {
  nav ul {
    display: none; /* 숨김 */
  }
  
  nav ul.active {
    display: block; /* 버튼 클릭 시 활성화 */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  nav ul li {
    padding: 0.5rem 0;
    text-align: center;
  }

  #header > div{
    gap:1.5rem;
  }

  .hamburger-menu{
    width: 40px;
  }

  .hamburger_title {
    font-size: 6.8vw;
  }

  .menu_list > ul > li{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap:0;
  }
  
  .open_sub_menu{
    width: 100%;
    margin: 0.5em 0 0;
    gap:0 1em;
  }

  .open_sub_menu li{
    width: max-content;
    gap:0 1em
  }
}


@media (max-width: 580px) {
  .hamburger_title {
    font-size: 6.4vw;
  }

  .menu_list > ul > li > a {
    font-size: 1.3em;
  }

  .open_sub_menu > li > a {
    font-size: 14px;
}
}