.footer_sub_menu li a:hover{
  text-decoration: underline;
}

@media (max-width: 1280px) {
  #footer{
    flex-direction: column;
    flex-wrap: wrap;
  }

  #footer_left,
  #footer_right{
    width: 100%;
  }

  #footer_left{
    padding: 2.5em 4%;
  }

  #footer_left ul, #footer_left p{
    display: none;
  }
  
  #footer_right > div:nth-child(1){
    padding: 0;
  }

  .footer_right_top ul{
    padding: 0 4%;
  }

  .footer_right_top ul li + li{
    margin-top: 20px;
  }
  
  .footer_right_bot{
    padding: 2em 2%;
  }

  .footer_right_bot ul{
    justify-content: space-around;
    gap:1em;
  }
  
  .footer_right_bot ul li{
    flex:1;
  }

  .m_add{
    display: block;
    padding: 0 4%;
    margin: 2.5em 0;
  }
}

@media (max-width:640px){
    .footer_right_top ul li + li{
        margin-top: 15px;
    }

    .footer_right_top ul li p:nth-child(1){
        font-size:12px;
    }
    
    .footer_right_top ul li p:nth-child(2){
        margin-top: 6px;
        font-size:16px
    }

    .m_add{
        font-size:13px;
    }
}